.navbar {
    width: 100%;
   
}

.textHeader {
    text-align: center;
    width: 100%;
}

.weatherData{
    display: block;
    padding: 20px;

}
.card {
    background-color: ghostwhite;

}


.badge {
    font-size: 1em;
}


.forecast{
    margin-right: 80%;
}

.data {
    margin: 3px;
}

.fiveDayDate {
    font-size: 20px;
    font-weight: bolder;
}

#doIT :hover {
    background-color: lightblue;
}

#place :hover{
    background-color: lightskyblue;
}

/* .fiveDayTemp {
    font-size: 10px;
} */

/* green badge badge-success 
   red badge badge-danger
   yellow  badge badge-warning*/