.navbar {
    width: 100%;
   
}

.textHeader {
    text-align: center;
    width: 100%;
}

.weatherData{
    display: block;
    padding: 20px;

}
.card {
    background-color: ghostwhite;
}


.badge {
    font-size: 1em;
}


.forecast{
    margin-right: 600px;
}

.data {
    margin: 10px;
}

/* green badge badge-success 
   red badge badge-danger
   yellow  badge badge-warning*/